/*Media query*/
@media (max-width: 700px) {
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(108, 108, 195);
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition:.5s ease-in-out;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li {
        padding: 20px;
        border-bottom: rgb(246, 234, 234) solid 1px;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }
    .menu-btn {
        display: block;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery img {
        height: 330px;
    }
    .banner1 .content,
    .banner2 .content2 {
        width: 85%;
    }
    footer .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .gallery img {
        height: 450px;
    }
    .banner1 .content,
    .banner2 .content2 {
        width: 100%;
        padding: 60px 20px;
    }
    footer .footer-container {
        grid-template-columns: 1fr;
    }
}